@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

$primcolor: #64FFDA;
$seccolor: #1DE9B6;
$textcolor: #0D0A1D;
$fadetextcolor: #555555;

$normalfont: 'Roboto Mono', sans-serif;

$fontsize: 14px;

* {
	box-sizing: border-box;
	font-family: $normalfont;
}

html {
	color: $textcolor;
	font-size: $fontsize;
	text-align: center;
	
	@media screen and (max-width: 1024px) {
		font-size: 125%;
	}
}

body {
	background: $primcolor;
	background: linear-gradient($seccolor, $primcolor);
	background-size: 100% 100%;
	background-size: 100vw 100vh;
}

*::selection {
    background: $textcolor;
    color: #fff;
}